html,
body {
  height: 100%;
  margin: 0;
  font: 18px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

#root {
  display: grid;
  grid-template-rows: 100px auto 50px;
  min-height: 100%;
}

a {
  color: rgb(70, 70, 255);
  transition: all ease-in-out 0.1s;
  text-decoration: none;
}
a:hover,
a:focus {
  color: crimson;
  font-weight: 600;
  outline: none;
}
