html,
body {
  height: 100%;
  margin: 0;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#root {
  display: grid;
  grid-template-rows: 150px auto 50px;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: blue;
  transition: all ease-in-out 0.1s;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: underline;
}

.form-group {
  width: 100%;
}
.form-control {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 2px solid;
  border-radius: 5px;
  font-size: 0.8rem;
}
.form-control:hover,
.form-control:focus {
  border: 2px solid blue;
  outline: none;
}

.form-submit {
  height: 30px;
  width: 80px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  color: blue;
}
.form-submit:hover,
.form-submit:focus {
  background-color: blue;
  color: white;
  border-color: blue;
  outline: none;
}
.errors-list {
  color: crimson;
  font-weight: 600;
}
