.posts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
}
.post-preview {
  padding: 5px;
  height: 150px;
}
.post-preview h2 {
  text-align: center;
}

.post-fullview {
  padding: 10px;
}

.comments-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}
.comments-wrapper h3 {
  margin: 0;
  color: mediumblue;
}
.comment {
  padding: 5px;
}
