header {
  color: white;
  background-color: mediumblue;
  font-weight: 600;
  border-bottom: 3px solid grey;
}

#navbar span {
  cursor: default;
}

#navbar ul {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 0 5px;
  list-style: none;
}

#navbar a {
  color: white;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
}

#navbar a.active {
  color: mediumblue;
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 750px;
}
.wrapper h1 {
  text-align: center;
  color: mediumblue;
}
.home-photo {
  max-width: 100%;
}
#error-page {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: auto;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-top: 3px solid grey;
  background-color: mediumblue;
  font-weight: 600;
  color: white;
}

.logo {
  height: 25px;
}
.pulse:hover {
  animation: pulse ease-in-out 2.75s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
